* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --box-size: 125px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 130, 130);
}

.level-title {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  text-align: center;
}

.btn {
  height: var(--box-size);
  width: var(--box-size);
  border: 7px solid black;
  border-radius: 10px;
}

#green {
  background-color: green;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#blue {
  background-color: blue;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, var(--box-size));
  gap: 25px;
}

@media (min-width: 768px) {
  :root {
    --box-size: 250px;
  }
  .level-title {
    font-size: 4.5rem;
  }
  .btn {
    border: 14px solid black;
    border-radius: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --box-size: 350px;
  }
  .level-title {
    font-size: 8rem;
  }
  .btn {
    border: 21px solid black;
    border-radius: 30px;
  }
}
